## Observations and Insights

In [218]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)



# Combine the data into a single dataset
study_mice = pd.merge(mouse_metadata, study_results)

# Display the data table for preview
study_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [219]:
# Checking the number of mice.
total_mice = study_mice['Mouse ID'].nunique()
total_mice

249

In [227]:
# Getting the duplicate mouse* by ID number that shows up for Mouse ID and Timepoint. 

problem_mouse = study_mice.loc[study_mice.duplicated(subset=['Mouse ID', 'Timepoint']), 'Mouse ID'].unique()
problem_mouse[0]

'g989'

In [232]:
# Optional: Get all the data for the duplicate Mouse ID. 

problem_mouse = study_mice.loc[study_mice.duplicated(subset=['Mouse ID'])]
problem_mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [233]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mice = clean_mice.drop_duplicates(subset=['Mouse ID'], keep='last')
clean_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1
...,...,...,...,...,...,...,...,...
1859,z314,Stelasyn,Female,21,28,5,45.934712,0
1862,z435,Propriva,Female,12,26,10,48.710661,0
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1882,z795,Naftisol,Female,13,29,45,65.741070,3
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [234]:
# Checking the number of mice in the clean DataFrame.
clean_mice.count()

Mouse ID              248
Drug Regimen          248
Sex                   248
Age_months            248
Weight (g)            248
Timepoint             248
Tumor Volume (mm3)    248
Metastatic Sites      248
dtype: int64

## Summary Statistics

In [251]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# SEM is the standard error of the mean
# This method is the most straighforward, creating multiple series and putting them all together at the end.

mean = clean_mice.groupby('Drug Regimen').mean()['Tumor Volume (mm3)']
median = clean_mice.groupby('Drug Regimen').median()['Tumor Volume (mm3)']
variance = clean_mice.groupby('Drug Regimen').var()['Tumor Volume (mm3)']
standard_dev = clean_mice.groupby('Drug Regimen').std()['Tumor Volume (mm3)']
SEM = standard_dev = clean_mice.groupby('Drug Regimen').sem()['Tumor Volume (mm3)']

# mean
# median
# variance
# standard_dev
# SEM

# tumor_volume_data = clean_mice.groupby('Drug Regimen')['Tumor Volume (mm3)']
# tumor_volume_data.describe()

In [252]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

summary_of_mice_stats = pd.DataFrame({
    "Mean Tumor Vol": mean,
    "Median Tumor Vol": median,
    "Variance in Tumor Vol": variance,
    "Standard Deviation": standard_dev,
    "SEM of Sample": SEM
})

summary_of_mice_stats

# Does this question want us to include every mouse in the study or only the data we've cleaned?

,Mean Tumor Vol,Median Tumor Vol,Variance in Tumor Vol,Standard Deviation,SEM of Sample
Drug Regimen,,,,,
Capomulin,36.667568,38.125164,32.663378,1.143038,1.143038
Ceftamin,57.753977,59.851956,69.982735,1.673114,1.673114
Infubinol,58.178246,60.165180,74.010875,1.720591,1.720591
Ketapril,62.806191,64.487812,98.921330,1.989184,1.989184
Naftisol,61.205757,63.283288,106.029927,2.059417,2.059417
Placebo,60.508414,62.030594,78.759797,1.774934,1.774934
Propriva,56.493884,55.591622,70.822755,1.717832,1.717832
Ramicane,36.191390,36.561652,32.166354,1.134308,1.134308
Stelasyn,61.001707,62.192350,90.331586,1.940056,1.940056
Zoniferol,59.181258,61.840058,76.862027,1.753420,1.753420

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen